<!DOCTYPE html>
<html>
<head>
  <title>Simple CMS</title>
   <%= javascript_include_tag "javascripts/public" %>
</head>
<body>

<!-- before yield -->
<%= yield %>
<!-- after yield -->

</body>
</html>
